.footer-container{
    background-color: #122345;
    height: 25vh;
}

.footer-container a,p{
    color: $white;
}

.footer{
    background-color: $medium-gray;
}

.name{
    background-color: $white;
}

.name a{
    color: $medium-gray;
}

.footer-bottom{
    background-color: $dark-gray;
    height: 5vh;
}