<div class="row expanded footer-container">
    <div class="row footer">
        <div class="columns small-12 name">
            <h1>
                <a href="index.html">Stefanie Keppler</a>
            </h1>
        </div>
        <div class="columns small-12 navigation">
            <ul>
                <li>
                    <a href="#">Malerei</a>
                </li>
                <li>
                    <a href="#">Objekte</a>
                </li>
                <li>
                    <a href="#">Fotografie</a>
                </li>
                <li>
                    <a href="#">Vita</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="columns small-12 footer-bottom">
    <p>©2018 Stefanie Keppler&nbsp;|&nbsp;
        <a href="#">&nbsp;Impressum</a>&nbsp;|&nbsp;
        <a href="#">Kontakt</a>
    </p>
</div>
<!--
<div class="row expanded Footer">

    <div class="row">
        <div class="columns small-12">
            <h1 class="Stefanie">Stefanie Keppler</h1>
        </div>

        <div class="columns small-12">
            <ul>
                <li>
                    <a href="Malerei.html" class="Nav-Item">Malerei</a>
                </li>
                <li>
                    <a href="Objekte.html" class="Nav-Item">Objekte</a>
                </li>
                <li>
                    <a href="Fotografie.html" class="Nav-Item">Fotografie</a>
                </li>
                <li>
                    <a href="Vita.html" class="Nav-Item">Vita</a>
                </li>
            </ul>

            <div class="Footer-Imprint">
                ©2018 Stefanie Keppler | <a href="#">Impressum</a> | <a href="#">Kontakt</a>
            </div>
        </div>
    </div>

</div> -->