<div    class="row expanded">
    <div class="columns small-12">
        <h1 class="Nav-Item-Active">Objekte</h1>
    </div>
    <div    class="columns small-12 Footer-Black">
        <ul>
            <li>
                <a href="index.html" class="Nav-Item">Startseite</a>
            </li>
            <li>
                <a href="Malerei.html" class="Nav-Item">Malerei</a>
            </li>
            <li>
                <a href="Fotografie.html" class="Nav-Item">Fotografie</a>
            </li>
            <li>
                <a href="Vita.html" class="Nav-Item">Vita</a>
            </li>
    </div>
</div>