<div class="row expanded name-container">
    <div class="row">
            
        <div class="columns large-12 show-for-medium name">
            <h1>
                <a href="index.html">Stefanie Keppler // Malerei</a>
            </h1>
        </div>
        <!--  Site Title Small  -->
        <div class="columns small-12 show-for-small-only name">
            <h1>
                <a href="index.html">Stefanie Keppler<br></a>MALEREI
            </h1>
        </div>
    </div>
</div>
  
<div class="row expanded navigation-container">
    <div class="row">
        <div class="columns small-12 navigation">
            <ul>
                <li class="nav-active">
                    <a href="Malerei.html">Malerei</a>
                </li>
                <li>
                    <a href="Objekte.html">Objekte</a>
                </li>
                <li>
                    <a href="Fotografie.html">Fotografie</a>
                </li>
                <li>
                    <a href="Vita.html">Vita</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row expanded footer-container">
    <div class="row">
        <div class="columns large-12 show-for-medium footer">
            <p>©2018 Stefanie Keppler&nbsp;|&nbsp;
                <a href="#">&nbsp;Impressum</a>&nbsp;|&nbsp;
                <a href="#">Kontakt</a>
            </p>
        </div>
        <!--  Footer Small  -->
        <div class="columns small-12 show-for-small-only footer">
            <p>©2018 Stefanie Keppler<br>
                <a href="#">&nbsp;Impressum</a>&nbsp;|&nbsp;
                <a href="#">Kontakt</a>
            </p>
        </div>
    </div>
</div>


<!--
<div class="row expanded Footer">

    <div class="row">
        <div class="columns small-12">
            <h1 class="Stefanie">Stefanie Keppler</h1>
        </div>

        <div class="columns small-12">
            <ul>
                <li>
                    <a href="Malerei.html" class="Nav-Item">Malerei</a>
                </li>
                <li>
                    <a href="Objekte.html" class="Nav-Item">Objekte</a>
                </li>
                <li>
                    <a href="Fotografie.html" class="Nav-Item">Fotografie</a>
                </li>
                <li>
                    <a href="Vita.html" class="Nav-Item">Vita</a>
                </li>
            </ul>

            <div class="Footer-Imprint">
                ©2018 Stefanie Keppler | <a href="#">Impressum</a> | <a href="#">Kontakt</a>
            </div>
        </div>
    </div>

</div> -->