<div    class="row expanded">
        <div    class="columns small-12 Footer-White">
            <ul>
                <li>
                    <a href="#" class="Nav-Item-Headline">Stefanie Keppler</a>
                </li>
        </div>
    <div    class="columns small-12 Footer-Black">
        <ul>
            <li>
                <a href="#" class="Nav-Item">Startseite</a>
            </li>
            <li>
                <a href="#" class="Nav-Item">Malerei</a>
            </li>
            <li>
                <a href="#" class="Nav-Item">Objekte</a>
            </li>
            <li>
                <a href="#" class="Nav-Item">Fotografie</a>
            </li>
            <li>
                <a href="#" class="Nav-Item">Vita</a>
            </li>
    </div>
</div>